/* main css*/

/* li a{
    display: block;
    width: 100px;
} */

/* nav CSS*/

/*.head-subnav{*/
    /*background-color: aqua;*/
    /*display: grid;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
/*}*/
/*.head-ul-subnav{*/
    /*list-style: none; */
    /*margin: 5px;*/
    /*padding: 5px;*/
    
/*}*/
/*.head-li-subnav {*/
    /*margin: 0;*/
    
/*}*/
/*.head-subnav a{*/
    /*float: left;*/
    /*text-align: center;*/
/*}*/

.head-nav{
    display: grid;
    grid-template: "one two three four five";
    margin: 5;
    padding: 0;
    overflow: hidden;
}



.head-hero{
    background-image: url(img/hero-img.jpg);
    background-repeat: no-repeat;
    width: 1600px;
    height: 800px;
}

#home {
    grid-area: "one";
}

#services {
    grid-area: "two";
}

#aboutus {
    grid-area: "three";
}

#contact {
    grid-area: "four";
}

#faq {
    grid-area: "five";
}


