/* main css*/

/* li a{
    display: block;
    width: 100px;
} */

/* nav CSS*/

/*.head-subnav{*/
    /*background-color: aqua;*/
    /*display: grid;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
/*}*/
/*.head-ul-subnav{*/
    /*list-style: none; */
    /*margin: 5px;*/
    /*padding: 5px;*/
    
/*}*/
/*.head-li-subnav {*/
    /*margin: 0;*/
    

/*
 *.head-subnav {
 *    text-align: center;
 *}
 */

.head-nav{
    display: grid;
    grid-template: "one two three four five";
    grid-gap: 5px;
    margin: 5;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.nav-button {
    background-color: #555;
    color: white;
}

.nav-button:hover {
    background-color: #999;
    cursor: pointer;
}

.head-hero {
    background-image: url(img/hero-img.jpg);
    background-repeat: no-repeat;
}

.body-container {
    display: grid;
    grid-template: "one two three";
    grid-gap: 10px;
}

.body-card {
    background-color: red;
    height: 300px;
}

#home {
    grid-area: one;
}

#services {
    grid-area: two;
}

#aboutus {
    grid-area: three;
}

#contact {
    grid-area: four;
}

#faq {
    grid-area: five;
}

#card1 {
    grid-area: one;
}
#card1 {    
    grid-area: two;
}
#card1 {
    grid-area: three;
}

